html, body {
    
}

.page-enter-from{
    opacity: 0;
    transform: translateY(-10px);
}

.page-enter-active,
.page-leave-active {
    transition: all .3s;
}
.page-enter,
.page-leave-to {
    opacity: 0;
}